version: "3.8"

services:
  caddy:
    image: caddy:alpine
    restart: always
    environment:
      DOMAIN: ${DOMAIN:-localhost}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
      - target: 443
        published: 443
        protocol: udp

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    restart: always
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: udp
    volumes:
      - qbittorrent_config:/config
      - ${QBITTORRENT_DOWNLOADS_PATH:-./qbittorrent}:/downloads

  jackett:
    image: linuxserver/jackett:latest
    restart: always
    ports:
      - target: 9117
        published: 9117
        protocol: tcp
    volumes:
      - jackett_config:/config
      - ${JACKETT_DOWNLOADS_PATH:-./jackett}:/downloads

  sonarr:
    image: linuxserver/sonarr:latest
    restart: always
    ports:
      - target: 8989
        published: 8989
        protocol: tcp
    volumes:
      - sonarr_config:/config
      - ${SONARR_DOWNLOADS_PATH:-./sonarr}:/downloads

  radarr:
    image: linuxserver/radarr:latest
    restart: always
    ports:
      - target: 7878
        published: 7878
        protocol: tcp
    volumes:
      - radarr_config:/config
      - ${RADARR_DOWNLOADS_PATH:-./radarr}:/downloads

volumes:
  caddy_data:
  caddy_config:
  qbittorrent_config:
  jackett_config:
  sonarr_config:
  radarr_config: