version: "3.8"

services:
  caddy:
    image: caddy:alpine
    restart: always
    environment:
      DOMAIN: ${DOMAIN:-localhost}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
      - target: 443
        published: 443
        protocol: udp

  authelia:
    image: authelia/authelia:latest
    restart: always
    environment:
      - AUTHELIA_JWT_SECRET=${AUTHELIA_JWT_SECRET:-B8N4Gwe8By65qDkY77SPdQLpneiMX3i35E5u5t43}
      - AUTHELIA_DEFAULT_REDIRECTION_URL=https://${DOMAIN:-localhost}
      - AUTHELIA_TOTP_ISSUER=${DOMAIN:-localhost}
      - AUTHELIA_SESSION_SECRET=${AUTHELIA_SESSION_SECRET:-e38iptM58G453X45LB5DQe6qNyu3kiBndSY7P7wE}
      - AUTHELIA_SESSION_DOMAIN=${DOMAIN:-localhost}
      - AUTHELIA_STORAGE_ENCRYPTION_KEY=${AUTHELIA_STORAGE_ENCRYPTION_KEY:-Dt643755wdiQBeL8yPEp74ui35XN8M3YnGekSBq5}
      - AUTHELIA_NOTIFIER_SMTP_USERNAME=${AUTHELIA_NOTIFIER_SMTP_USERNAME}
      - AUTHELIA_NOTIFIER_SMTP_PASSWORD=${AUTHELIA_NOTIFIER_SMTP_PASSWORD}
      - AUTHELIA_NOTIFIER_SMTP_SENDER=authelia@${DOMAIN:-localhost}
    expose:
      - 9091
    volumes:
      - authelia_config:/config
      - ./authelia:/config

  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    restart: always
    ports:
      - target: 8191
        published: 8191
        protocol: tcp

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    restart: always
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: udp
    volumes:
      - qbittorrent_config:/config
      - ${DOWNLOADS_PATH:-./downloads}:/downloads

  jackett:
    image: linuxserver/jackett:latest
    restart: always
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    ports:
      - target: 9117
        published: 9117
        protocol: tcp
    volumes:
      - jackett_config:/config
      - ${DOWNLOADS_PATH:-./downloads}:/downloads

  sonarr:
    image: linuxserver/sonarr:latest
    restart: always
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    ports:
      - target: 8989
        published: 8989
        protocol: tcp
    volumes:
      - sonarr_config:/config
      - ${DOWNLOADS_PATH:-./downloads}:/downloads

  radarr:
    image: linuxserver/radarr:latest
    restart: always
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    ports:
      - target: 7878
        published: 7878
        protocol: tcp
    volumes:
      - radarr_config:/config
      - ${DOWNLOADS_PATH:-./downloads}:/downloads

volumes:
  caddy_data:
  caddy_config:
  authelia_config:
  qbittorrent_config:
  jackett_config:
  sonarr_config:
  radarr_config: