version: "3.8"

services:
  jellyfin:
    image: jjm2473/jellyfin-mpp:latest
    restart: always
    ports:
      - target: 8096
        published: 8096
        protocol: tcp
    devices:
      - /dev/iep:/dev/iep
      - /dev/rga:/dev/rga
      - /dev/dri:/dev/dri
      - /dev/dma_heap:/dev/dma_heap
      - /dev/mpp_service:/dev/mpp_service
      - /dev/mpp-service:/dev/mpp-service
      - /dev/vpu_service:/dev/vpu_service
      - /dev/vpu-service:/dev/vpu-service
      - /dev/hevc_service:/dev/hevc_service
      - /dev/hevc-service:/dev/hevc-service
      - /dev/rkvdec:/dev/rkvdec
      - /dev/avsd:/dev/avsd
      - /dev/vepu:/dev/vepu
      - /dev/h265e:/dev/h265e
    volumes:
      - jellyfin_config:/config
      - ${JELLYFIN_MEDIA_PATH}:/media

volumes:
  jellyfin_config: