(headers) {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Content-Security-Policy "default-src https:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:; connect-src 'self' wss: https:"
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "geolocation=(), midi=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), fullscreen=(self), payment=(), usb=()"
    X-Frame-Options SAMEORIGIN
    X-Content-Type-Options nosniff
    X-XSS-Protection "1; mode=block"
    -Server
}

(auth) {
    uri /api/verify?rd=https://authelia.{$DOMAIN}/
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
}

authelia.{$DOMAIN} {
    header {
    	import headers
    }

    log
    encode zstd gzip

    reverse_proxy authelia:9091
}

qbittorrent.{$DOMAIN} {
    header {
    	import headers
    }

    forward_auth authelia:9091 {
        import auth
    }

    log
    encode zstd gzip

    reverse_proxy qbittorrent:8080
}

jackett.{$DOMAIN} {
    header {
    	import headers
    }

    forward_auth authelia:9091 {
        import auth
    }

    log
    encode zstd gzip

    reverse_proxy jackett:9117
}

sonarr.{$DOMAIN} {
    header {
    	import headers
    }

    forward_auth authelia:9091 {
        import auth
    }

    log
    encode zstd gzip

    reverse_proxy sonarr:8989
}

radarr.{$DOMAIN} {
    header {
    	import headers
    }

    forward_auth authelia:9091 {
        import auth
    }

    log
    encode zstd gzip

    reverse_proxy radarr:7878
}

jellyfin.{$DOMAIN} {
    header {
    	import headers
    }

    log
    encode zstd gzip

    reverse_proxy jellyfin:8096
}
